#path {
  fill-opacity: 0;
  color: white;
}

#reboundPath {
  fill-opacity: 0;
  color: white;
}
#pointsPath {
  fill-opacity: 0;
  color: white;
}

#assistPath {
  fill-opacity: 0;
  color: white;
}

#stealPath {
  fill-opacity: 0;
  color: white;
}

#blockPath {
  fill-opacity: 0;
  color: white;
}

text {
  font-family: sans-serif;
  font-weight: bold;
}


.d3 {
  height: 1000px;
}

.teamName {
  background: black;
  color: white;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

svg {
  width: 100%;
  background: black;
}

.welcome-line {
  font-family: 'sans-serif';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.name {
  font-family: 'sans-serif';
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.overview {
  border: 1px solid white;
  width: 700px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
}

.understanding {
  /* border: 1px solid blue; */
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.data-info {
    /* border: 1px solid yellow; */
    padding-left: 30px;
    padding-right: 30px;
    font-family: sans-serif;
     line-height: 25px;
     font-size: 18px;
}

.interpretation {
  /* border: 1px solid green; */
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.app-pages {
  display: flex;
}

.drop-down {
 /* border: 1px solid red; */
}

.please-select {
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

html {
  background: black;
  color: white;
}

.selector {
  margin-right: 55px;
}

.teamName {
  background: black;
  color: white;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  margin-right: 450px
}

.drop-container {
  text-align: right;
  margin-right: 225px;
  top: 77px;
  position: relative;
}


.spin-container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  background: black;
  top: 0;
  display: table;
}

.fa-pulse {
  font-size: 60px;
}


.small-spin {
  height: 200px;
  width: 200px;
  font-size: 133px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

#spin {
  font-size: 150px;
}
























//
