


#path {
  color: white;
}

#reboundPath {
  fill-opacity: 0;
  color: white;
}
#pointsPath {
  fill-opacity: 0;
  color: white;
}

#assistPath {
  fill-opacity: 0;
  color: white;
}

#stealPath {
  fill-opacity: 0;
  color: white;
}

#blockPath {
  fill-opacity: 0;
  color: white;
}

text {
  font-family: sans-serif;
  font-weight: bold;

}

text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.headshot-container {
  position: sticky;
  top: 250px;
  height: 100px;
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.headshot-container-empty {
  margin-left: 890px;
  margin-left: 890px;
  position: sticky;
  top: 250px;
  height: 100px;
  width: 120px;
  top: 250px;
  margin-top: 150px;
  border: 1px solid red;
}

.headshot {
  height: 100px;
  margin-left: 615px;
}

.d3 {
  height: 1000px;
}

.teamName {
  background: black;
  color: white;
  font-weight: 400;
  margin: 0;
  text-align: center;
}



/* svg {
  width: 100%;
  background: black;
} */

.welcome-line {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.name {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.overview {
  border: 1px solid white;
  width: 700px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
}

.understanding {
  /* border: 1px solid blue; */
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.data-info {
    /* border: 1px solid yellow; */
    padding-left: 30px;
    padding-right: 30px;
    font-family: sans-serif;
     line-height: 25px;
     font-size: 18px;
}

.interpretation {
  /* border: 1px solid green; */
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.app-pages {
  display: flex;
}

.drop-down {
 /* border: 1px solid red; */
}

.please-select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 52px;
  margin-bottom: 20px;
}

html {
  background: black;
  color: white;
}

.selector {
  margin-right: 20px;
  width: 200px;
  height: 26px;
  font-size: 15px;
  outline: 0;
  cursor: pointer;
}

.teamName {
  background: black;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  margin-right: 345px
}

.drop-container {
  text-align: right;
  margin-right: 225px;
  top: 77px;
  position: relative;
}

.d3 {
  display: flex;
  justify-content: center;
}
.spin-container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  background: black;
  top: 0;
  display: table;
}

.fa-pulse {
  font-size: 60px;
}


.small-spin {
  height: 200px;
  width: 200px;
  font-size: 133px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

#spin {
  font-size: 150px;
}



/* FOOTER */

.footer-container {
  display: flex;
  right: 0;
  position: absolute;
}

.footer-container div {
  margin-right: 20px;
}

.contact-info {
  color: white;
  font-size: 30px;
}

.arc {
  opacity: 1
}
.arc2 {
  opacity: 1
}
.arc3 {
  opacity: 1
}
.arc4 {
  opacity: 1
}
.arc5 {
  opacity: 1
}
.arcMinus {
  opacity: 1
}

.muted {
  opacity: .5;
}

.normal {
  opacity: 1;
}

.not-muted {
  opacity: 1;
  fill: yellow !important;
}

/* PLAYER_MODAL */

.close-button {
  width: 1200px;
  margin: auto;
  margin-top: 26px;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.close-text {
  font-family: sans-serif;
}

.close-text:hover {
  text-decoration: underline;
}

.player-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/transpOrange50.png");
  overflow: hidden;
  display: none;
}

.player-graph {
  width: 1200px;
  height: 700px;
  margin: auto;
  z-index: 2;
  background: white;
  border-radius: 5px;
  color: black;
  }

.playerName {
  text-align: center;
  padding-top: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.profile {
  width: 300px;
}

.player-bio {
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-padding-start: 0px;
  margin-left: 40px;
}

.player-bio li {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}


.svg-player {
  /* border: 1px solid red; */
  margin-right: 35px;
}

.x-axis {
  font-size: 13px;
}

.y-axis {
  font-size: 13px;
}

.player-modal-container {
  width: 1200;
  margin: auto;
}

.all-player-info-container {
  display: flex;  justify-content: space-between;
  margin-top: 20px;
}




//
