#path {
  fill-opacity: 0;
  color: white;
}

#reboundPath {
  fill-opacity: 0;
  color: white;
}
#pointsPath {
  fill-opacity: 0;
  color: white;
}

#assistPath {
  fill-opacity: 0;
  color: white;
}

#stealPath {
  fill-opacity: 0;
  color: white;
}

#blockPath {
  fill-opacity: 0;
  color: white;
}

text {
  font-family: sans-serif;
  font-weight: bold;
}


.d3 {
  height: 1000px;
}

.teamName {
  background: black;
  color: white;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

svg {
  width: 100%;
  background: black;
}
